* {
  box-sizing: border-box;
}
.container {
  max-width: 600px !important;
}

.app-container {
  transition: background-color 0.5s ease-in-out;
}

.quote-section {
  transition: background-color 0.5s ease-in-out;
}

.quote-text,
.quote-author,
.button {
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
